@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

.gradient-text {
  background: linear-gradient(to right, #60a5fa, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


